<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Aplicacion Nodejs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <i class="fab fa-node icono_node"></i>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown mr-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Enlaces
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/enlaces/agregar">Agregar Enlace</a>
            <a class="dropdown-item" href="/enlaces">Todos los enlaces</a>

          </div>
        </li>
        <li class="nav-item">
          <a href="/perfil" class="nav-link">Perfil</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Cerrar Sesion</a>
        </li>
        {{/if}}

      </ul>
    </div>
  </nav>
</div>
